.work-icon {
    width: 80%;
    height: 80%;
    fill: white;
    color: white;
    stroke: white;
    filter: invert(99%) sepia(1%) saturate(1028%) hue-rotate(233deg) brightness(118%) contrast(100%);
    margin-top: 5px;
}

