.myButton {
    background-color: var(--clr-primary-a10);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.5em;
    font-family: monospace;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin:5px;
    



}
.buttonIcon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    
    fill: white; /* Ensure the icon color matches the button text color */
}

.myButton:hover {
    background-color: var(--clr-primary-a0);
}