.errorButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttonIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: white; /* Ensure the icon color matches the button text color */
}

.errorButton:hover {
    background-color: darkred;
}