.projectTiel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--clr-surface-a10);
 
}

.projectMedia {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projectContent {
    padding: 10px;
    text-align: center;
}

.projectTitle {
    font-size: 1.5em;
    margin: 10px 0;
    
}

.projectDescription {
    font-size: 1em;
    margin: 10px 0;
}

.projectTechStack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-color: var(--clr-surface-a30);

}

.techStackElement {
    font-size: 0.5em;
    font-family: monospace;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--clr-surface-a30);
}